
extends layout

block style
  include ../contents/css/article.css

block content
  include author
  each article in articles
    article.Article.Article--intro
      header.Article-header
        p.Article-date
          span= moment.utc(article.date).lang('uk').format('LL')
        h2.Article-title
          a(href=article.url)= article.title
      section.Article-content
        if article.intro.length > 0
          != typogr(article.intro).typogrify()
        if article.hasMore
          p.Article-more
            a(href=article.url) Більше

block prepend footer
  nav.Nav
    if prevPage
      a(href=prevPage.url) &laquo; Новіші
    else
      a(href='/archive.html') &laquo; Архів
    if nextPage
      a(href=nextPage.url) Наступна сторінка &raquo;
