
extends layout

block content
  include author
  each article in articles
    article.Article.Article--intro
      header.Article-header
        p.Article-date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2.Article-title
          a(href=article.url)= article.title
      section.Article-content
        if article.intro.length > 0
          != typogr(article.intro).typogrify()
        if article.hasMore
          p.Article-more
            a(href=article.url) more

block prepend footer
  nav.Nav
    if prevPage
      a(href=prevPage.url) &laquo; Newer
    else
      a(href='/archive.html') &laquo; Archives
    if nextPage
      a(href=nextPage.url) Next page &raquo;
